@font-face{
	font-family: 'coolvetica compressed rg';
	src: url('design/Coolvetica/coolvetica compressed rg.ttf');
}

@font-face{
        font-family: 'coolvetica condensed rg';
        src: url('design/Coolvetica/coolvetica condensed rg.ttf');
}

@font-face{
        font-family: 'coolvetica crammed rg';
        src: url('design/Coolvetica/coolvetica crammed rg.ttf');
}

@font-face{
        font-family: 'coolvetica rg';
        src: url('design/Coolvetica/coolvetica rg.ttf');
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Arial', sans-serif;
    color: #f2eeff;
}

/* ШАПКА */
.header {
    background-color: #0040ff;
    color: white;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    position: relative;
    overflow: hidden;
}

.header_top {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 40px;
}

.logo_left img,
.logo_right img {
    height: 60px;
    width: auto;
    padding: 25px 145px 0 145px;
    object-fit: contain;
}

.header_content {
    text-align: center;
    padding: 40px 20px;
}

.logo_center {
    max-width: 1000px;
    width: 100%;
    height: auto;
    display: block;
    margin: 0 auto 20px;
}

.subtitle {
    font-family: 'coolvetica rg', sans-serif;
    font-size: 18px;
    max-width: 800px;
    margin: 0 auto 30px;
    line-height: 1.5;
    letter-spacing:3px;
}

.header_button {
    display: inline-block;
    max-width: 250px;
    width: 100%;
    height: auto;
    transition: transform 0.2s, opacity 0.2s;
}

.header_button img{
	width: 100%;
	height: auto;
	display: block;
}

.header_button:hover {
    transform: scale(1.05);
}

.button_container{
    display: flex;
    align-items: center;
    margin-top: -50px;
}

.header_bottom {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 30px 60px 70px 60px;
    font-size: 14px;
    line-height: 1.6;
}

.info_left,
.info_right {
    font-family: 'coolvetica rg', sans-serif;
    font-size: 18px;
    padding: 0 130px 0 130px;
    margin-top: -50px;
    line-height: 1.2;
}

.p_info_left,
.p_info_right {
    margin: 0;
}

.background_atom {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 700px;
    height: 700px;
    background-image: url('design/ммм сайт/атом_на фоне первого экрана.svg');
    background-size:contain;
    background-repeat:no-repeat;
    background-position:center;
    opacity:0.3;
    z-index: 0;
    pointer-events: none;
    animation: rotate-atom 50s linear infinite;
}

/* Вращение всего атома */
@keyframes rotate-atom {
    0% { transform: translate(-50%, -50%) rotate(0deg); }
    100% { transform: translate(-50%, -50%) rotate(360deg); }
}

.header_top,
.header_content,
.header_bottom {
    position: relative;
    z-index: 1;
}
