@font-face{
	font-family: 'coolvetica compressed rg';
	src: url('design/Coolvetica/coolvetica compressed rg.ttf');
}

@font-face{
        font-family: 'coolvetica condensed rg';
        src: url('design/Coolvetica/coolvetica condensed rg.ttf');
}

@font-face{
        font-family: 'coolvetica crammed rg';
        src: url('design/Coolvetica/coolvetica crammed rg.ttf');
}

@font-face{
        font-family: 'coolvetica rg';
        src: url('design/Coolvetica/coolvetica rg.ttf');
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Arial', sans-serif;
    color: #f2eeff;
}

/* ШАПКА */
.header {
    background-color: #0040ff;
    color: white;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    position: relative;
    overflow: hidden;
}

.header_top {
    width: 100%; 
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 5vh 13.5vw;
}

.logo_left img{
    display: block;
    height: 6vh;
    width: auto;
    padding: 0;
}

.logo_right img{
    display: block;
    height: 6vh;
    width: auto;
    padding: 0;
}

.header_content {
    text-align: center;
    padding: 10vh 14vw;
}

.logo_center {
    max-width: 75vw;
    width: 100%;
    height: auto;
    display: block;
}

.subtitle {
    font-family: 'coolvetica rg', sans-serif;
    font-size: 22px;
    max-width: 60vw;
    margin: 1vh auto 30px;
    line-height: 1.5;
    letter-spacing:1px;
}

.header_button {
    display: inline-block;
    max-width: 17vw;
    width: 100%;
    height: auto;
    transition: transform 0.2s, opacity 0.2s;
}

.header_button img{
	width: 100%;
	height: auto;
	display: block;
}

.header_button:hover {
    transform: scale(1.05);
}

.button_container{
    display: flex;
    align-items: center;
    margin-top: -10vh;
    padding-right: 2vw;
}

.header_bottom {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 2vh 14.5vw 10vh 14.5vw;
    font-size: 14px;
    line-height: 1.6;
}


.info_right {
    font-family: 'coolvetica rg', sans-serif;
    font-size: 21px;
    padding: 0 0px 0 0px;
    margin-top: -10vh;
    line-height: 1.2;
    text-align: right;
}
.info_left{
    font-family: 'coolvetica rg', sans-serif;
    font-size: 21px;
    padding: 0 0px 0 0px;
    margin-top: -10vh;
    line-height: 1.2;

}

.p_info_right {
    margin: 0;
}
.p_info_left{
    margin: 0;
}

.background_atom {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 113vw;
    height: 113vh;
    background-image: url('design/ммм сайт/атом_на фоне первого экрана.svg');
    background-size:contain;
    background-repeat:no-repeat;
    background-position:center;
    opacity:0.3;
    z-index: 0;
    pointer-events: none;
    animation: rotate-atom 50s linear infinite;
}

/* Вращение всего атома */
@keyframes rotate-atom {
    0% { transform: translate(-50%, -50%) rotate(0deg); }
    100% { transform: translate(-50%, -50%) rotate(360deg); }
}

.header_top,
.header_content,
.header_bottom {
    position: relative;
    z-index: 1;
}

/*БЛОК 2: ИНФОРМАЦИЯ ОБ ИНСТИТУТЕ*/

.info_section {
    background-color: #f2eeff;
    padding: 13vh 14.5vw;
    color: #0040ff;
}

.info_container {
    max-width: 100vw;
    margin: 0 auto;
    text-align: center;
    font-family: 'coolvetica rg', 'Arial', sans-serif;
    font-size: 2.4vw;
    line-height: 1.2;
    text-transform: uppercase;
    letter-spacing: 0px;

}

.info_text1 {
    text-align: left;
}


.info_text2 {
    text-align: left;
}

.info_text3 {
    text-align: right;
    margin-top: -5px;
}

.info_text4 {
    text-align: right;
}

.info_text5 {
    text-align: right;
}

.info_text6 {
    text-align: left;
}

.info_text7 {
    text-align: left;
}

.info_text8 {
    text-align: left;
}


.info_badge_wrapper {
    display: inline-block;
    position: relative;
    vertical-align: middle; /* Выравнивание по центру строки */
}

.badge_frame_img{
    transform: translateY(-2px);
    width: 450px;
    height: auto;
    display: block;
    position: relative;
    z-index: 0;
}

.info_badge_text {
    position: absolute;
    font-family: 'coolvetica rg', 'Arial', sans-serif;
    color: #0040ff;
    top: 42%;
    left:47%;
    transform:  translate(-50%, -50%);
    font-size: 30px;
    letter-spacing: 0px;
    white-space: nowrap;
    z-index: 1;

}

.info_arrow {
    height: 27.5px;
    width: auto;
    vertical-align: middle;
    margin-left: 10px;
    display: inline-block;
}
